<%= render 'users/user', users: @user %>

<%= render 'books', book: @book %>
      <h2>Book detail</h2>
      <table class="table table-striped">
        <thead>
         <tr>
           <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th></th>
          <th></th>
         </tr>
        </thead>
        <tbody>
        <tr>
         <td>
          <%= image_tag @books.user.get_profile_image(100,100) %><br>
          <%= link_to @books.user.name,user_path(@user.id) %>
         </td>
         <td><%= link_to @books.title,book_path(@books.id) %></td>
         <td><%= @books.body %></td>
         <td>
          <% if @books.user.id == current_user.id %>
          <%= link_to "edit", edit_book_path(@books.id) %>
          <% end %>
         </td>
         <td>
             <% if @books.user.id == current_user.id %>
              <%= link_to 'delete', book_path(@books.id), method: :delete,"data-confirm" => "本当に削除しますか？" %>
             <% end %>
         </td>
        </tr>
        </tbody>
       </table>
    </div>
  </div>
</div>