<h2>タイトル</h2>
<p><%= @books.title %></p>

<h2>本文</h2>
<p><%= @books.body %></p>

<p>投稿ユーザー画像：<%= image_tag @.user.get_profile_image(100,100) %></p>

<h2>画像</h2>
<% if @books.image.attached? %>
  <%= image_tag @books.image, size: "300x300" %>
<% else %>
  <%= image_tag 'no_image', size: "300x300" %>
<% end %>

<%= link_to "編集", edit_book_path(@books.id) %>