<%= render 'users/user', users: @user %>

      <h2>Book detail</h2>
      <table class="table table-striped">
        <thead>
         <tr>
           <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th></th>
          <th></th>
         </tr>
        </thead>
        <tbody>
        <tr>
         <td>
          <%= image_tag @books.user.get_profile_image(100,100) %>
         </td>
         <td><%= link_to @books.title,book_path(@books.id) %></td>
         <td><%= @books.body %></td>
         <td><%= link_to "編集", edit_book_path(@books.id) %></td>
         <td>
             <% if @books.user.id == current_user.id %>
              <%= link_to 'delete', book_path(@books.id), method: :delete %>
             <% end %>
         </td>
        </tr>
        </tbody>
       </table>
    </div>
  </div>
</div>

<%= render 'books', book: @book %>